<div class="header">
	<img
		src="/resources/ownwiki-logo-mini.png"
		class="side-logo"
		alt="OwnWiki Logo" />
	<input
		type="text"
		id="search-input"
		name="search"
		placeholder="OwnWiki durchsuchen"
		class="search-bar" />
	<div class="user-menu">
		{% if logged_in %}
		<i
			class="{% if 'admin' in user_roles %}fas fa-user-plus{% elif block_info.blocked %}fas fa-user-lock{% else %}fas fa-user{% endif %} icon"></i>
		{% else %}
		<img
			src="resources/user-question.svg"
			class="icon fix-sizing"
			alt="User Icon" />
		{% endif %}
		<i class="fas fa-bell icon"></i>
	</div>
</div>
