<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OwnWiki</title>

		<link rel="stylesheet" href="/fonts/fonts.css" />
		<link rel="stylesheet" href="/font-awesome/css/all.css" />
		<link rel="stylesheet" href="/css/standard.css" />
		<link
			rel="shortcut icon"
			href="/static/favicon.ico"
			type="image/x-icon" />
	</head>
	<body>
		{% include '/include/header.html' with context %}

		<div class="msplit">
			<div class="side">
				<img
					src="/resources/ownwiki-logo.png"
					class="side-logo"
					alt="OwnWiki Logo" />
				<div class="side-links">
					{% include '/sidebar/user.html' with context %}
				</div>
				<div class="side-links">
					{% include '/sidebar/fastnav.html' with context %}
				</div>
			</div>

			<div class="content-wrapper">
				<div class="content">
					<h1 class="page_title">Seite nicht gefunden</h1>
					<div class="err404">
						<span>
							Die angeforderte Seite ({{ page }}) wurde nicht
							gefunden.
						</span>
						<a href="/wiki/{{ page }}/create" class="c">
							<button class="create">Jetzt erstellen</button>
						</a>
					</div>
				</div>

				<div id="poweredby">
					<img
						src="/resources/ownwiki-logo-mini.png"
						alt="OwnWiki Logo" />
					<p>Powered by<br />OwnWiki</p>
				</div>
			</div>
		</div>

		{% include '/include/js.html' with context %}
	</body>
</html>
