<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OwnWiki</title>

		<link rel="stylesheet" href="/fonts/fonts.css" />
		<link rel="stylesheet" href="/font-awesome/css/all.css" />
		<link rel="stylesheet" href="/css/standard.css" />
		<link
			rel="shortcut icon"
			href="/static/favicon.ico"
			type="image/x-icon" />
	</head>
	<body>
		<div class="header">
			<img
				src="/resources/ownwiki-logo-mini.png"
				class="side-logo"
				alt="OwnWiki Logo" />
			<input
				type="text"
				name="search"
				placeholder="OwnWiki durchsuchen"
				class="search-bar" />
			<div class="user-menu">
				<i class="fas fa-bell icon"></i>
			</div>
		</div>

		<div class="msplit">
			<div class="side">
				<img
					src="/resources/ownwiki-logo.png"
					class="side-logo"
					alt="OwnWiki Logo" />
				<div class="side-links">
					{% include '/sidebar/user.html' with context %}
				</div>
				<div class="side-links">
					{% include '/sidebar/fastnav.html' with context %}
				</div>
				<div class="side-links">
					{% include '/sidebar/tools.html' with context %}
				</div>
			</div>

			<div class="content-wrapper">
				<div class="content">
					<h1 class="page_title">{{ title }}</h1>
					<div class="titlebar">
						<div class="group">
							<span class="element">
								<a href="/wiki/{{ page }}">
									<i class="fas fa-file"></i> Artikel
								</a>
							</span>
							<span class="element active">
								<a href="/wiki/{{ page }}/discussion">
									<i class="fas fa-comment"></i> Diskussion
								</a>
							</span>
							<span class="element">
								<i class="far fa-star"></i>
							</span>
						</div>
						<div class="group">
							{% if permissions[needed_right] %}
							<span class="element">
								<a href="/wiki/{{ page }}/edit">
									<i class="fas fa-pen"></i> Bearbeiten
								</a>
							</span>
							{% else %}
							<span class="element"
								><i class="fas fa-code"></i> Quelltext
								anzeigen</span
							>
							{% endif %}
							<span class="element"
								><i class="fas fa-clock"></i>
								Versionsgeschichte</span
							>
						</div>
					</div>
					{% if existing %} {% for chat in content %}
					<div class="chat">
						<div class="chat-header">
							<span class="chat-title">{{ chat.title }}</span>
							{% if chat.status == "closed" %}
							<span class="chat-closed">
								<i class="fas fa-xmark"></i> Geschlossen
							</span>
							{% elif chat.status == "marked" %}
							<span class="chat-marked">
								<i class="fas fa-exclamation"></i> Markiert
							</span>
							{% elif chat.status == "marked-auto" %}
							<span class="chat-marked">
								<i class="fas fa-exclamation"></i> Automatisch
								markiert
							</span>
							{% elif chat.status == "resolved" %}
							<span class="chat-resolved">
								<i class="fas fa-check"></i> Erledigt
							</span>
							{% else %}
							<span class="chat-open">
								<i
									class="fas fa-hourglass-end fa-flip-vertical"></i>
								Offen
							</span>
							{% endif %}
						</div>
						<div class="chat-messages">
							{% for message in chat.messages %}
							<div class="message">
								<span class="message-user">
									{{ message.user }} &middot; {{
									message.formatted_time }}
								</span>
								<span class="message-content">
									{{ message.content }}
								</span>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %} {% else %}
					<p>Zu dieser Seite gibt es noch keine Diskussion.</p>
					<button>Jetzt erstellen</button>
					{% endif %}
				</div>

				<div id="poweredby">
					<img
						src="/resources/ownwiki-logo-mini.png"
						alt="OwnWiki Logo" />
					<p>Powered by<br />OwnWiki</p>
				</div>
			</div>
		</div>

		<!-- jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- select2 -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"
			rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
		<!-- flatpickr -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/de.js"></script>
		<!-- own scripts -->
		<script src="/js/sel2.js"></script>
		<script src="/js/codehighlight.js"></script>
		<script src="/js/manipulate_datetime.js"></script>
		<script src="/js/bridges.js"></script>
	</body>
</html>
