<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OwnWiki</title>

		<link rel="stylesheet" href="/fonts/fonts.css" />
		<link rel="stylesheet" href="/font-awesome/css/all.css" />
		<link rel="stylesheet" href="/css/standard.css" />
		<link
			rel="shortcut icon"
			href="/static/favicon.ico"
			type="image/x-icon" />

		<style>
			textarea {
			    width: 100%;
			    min-height: 40px;
			    max-height: 60vh;
			    border: 1px solid #ccc;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<img
				src="/resources/ownwiki-logo-mini.png"
				class="side-logo"
				alt="OwnWiki Logo" />
			<input
				type="text"
				name="search"
				placeholder="OwnWiki durchsuchen"
				class="search-bar" />
			<div class="user-menu">
				<i class="fas fa-bell icon"></i>
			</div>
		</div>

		<div class="msplit">
			<div class="side">
				<img
					src="/resources/ownwiki-logo.png"
					class="side-logo"
					alt="OwnWiki Logo" />
				<div class="side-links">
					{% if logged_in %}
					<!-- logged in -->
					<span class="h">{{ username }}</span>
					<span><a href="#" onclick="logout()">Abmelden</a></span>
					{% else %}
					<!-- not logged in -->
					<span><a href="/login">Anmelden</a></span>
					<span><a href="/register">Konto erstellen</a></span>
					{% endif %}
				</div>
				<div class="side-links">
					<span class="h">Navigation</span>
					<span><a href="/wiki/main:main">Hauptseite</a></span>
					<span
						><a href="?f=special:randompage"
							>Zufällige Seite</a
						></span
					>
					<span><a href="?f=special:logs">Logbücher</a></span>
					<span
						><a href="?f=special:specialpages"
							>Spezialseiten</a
						></span
					>
				</div>
				<div class="side-links">
					{% if is_admin %}
					<!-- is admin -->
					<span class="h">Werkzeuge</span>
					<span
						><a href="?f=special:permanent&t=[[TITLE]]"
							>Permanenter Link</a
						></span
					>
					<span
						><a href="?f=special:move&t=[[TITLE]]"
							>Verschieben</a
						></span
					>
					<span
						><a href="?f=special:delete&t=[[TITLE]]"
							>Löschen</a
						></span
					>
					<span
						><a href="?f=special:protect&t=[[TITLE]]"
							>Schützen</a
						></span
					>
					{% else %}
					<!-- is not admin -->
					<span class="h">Werkzeuge</span>
					<span
						><a href="?f=special:permanent&t=[[TITLE]]"
							>Permanenter Link</a
						></span
					>
					{% endif %}
				</div>
			</div>

			<div class="content">
				<h1 class="page_title">{{ title }} bearbeiten</h1>
				{% if controls %}
				<div class="titlebar">
					<div class="group">
						<span class="element"
							><a href="/wiki/{{ page }}"
								><i class="fas fa-file"></i> Artikel</a
							></span
						>
						<span class="element"
							><i class="fas fa-comment"></i> Diskussion</span
						>
						<span class="element"><i class="far fa-star"></i></span>
					</div>
					<div class="group">
						{% if permissions[needed_right] %}
						<span class="element active"
							><a href="/wiki/{{ page }}/edit"
								><i class="fas fa-pen"></i> Bearbeiten</a
							></span
						>
						{% else %}
						<span class="element active"
							><i class="fas fa-code"></i> Quelltext
							anzeigen</span
						>
						{% endif %}
						<span class="element"
							><i class="fas fa-clock"></i>
							Versionsgeschichte</span
						>
					</div>
				</div>
				{% endif %}
				<div style="display: flex; gap: 1rem;">
					<div style="width: 49%;">
						<textarea
							name="content"
							id="content"
							style="height: max-content;">
							{{- content -}}
						</textarea
						><br />
						<button id="save">Speichern</button>
					</div>
					<div id="preview-wrapper" style="width: 49%;">
						<button id="update-preview">
							<i class="fas fa-rotate"></i>
						</button>
						<div id="preview"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- select2 -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"
			rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
		<!-- flatpickr -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/de.js"></script>
		<!-- own scripts -->
		<script src="/js/sel2.js"></script>
		<script src="/js/codehighlight.js"></script>
		<script src="/js/manipulate_datetime.js"></script>
		<script>
			const PAGE = "{{ page }}";
		</script>
		<script src="/js/bridges.js"></script>

		<script>
			const ta = document.getElementById('content');
			ta.addEventListener('input', () => {
			    ta.style.height = 'auto';
			    ta.style.height = ta.scrollHeight + 'px';
			});
			ta.style.height = ta.scrollHeight + 'px';
		</script>
	</body>
</html>
