<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OwnWiki</title>

		<link rel="stylesheet" href="/fonts/fonts.css" />
		<link rel="stylesheet" href="/font-awesome/css/all.css" />
		<link rel="stylesheet" href="/css/standard.css" />
		<link
			rel="shortcut icon"
			href="/static/favicon.ico"
			type="image/x-icon" />
	</head>
	<body>
		{% include '/include/header.html' with context %}

		<div class="msplit">
			<div class="side">
				<img
					src="/resources/ownwiki-logo.png"
					class="side-logo"
					alt="OwnWiki Logo" />
				<div class="side-links">
					{% include '/sidebar/fastnav.html' with context %}
				</div>
			</div>

			<div class="content-wrapper">
				<div class="content">
					<h1 class="page_title">Bei OwnWiki anmelden</h1>
					{% if just_activated %}
					<p class="success-message">
						Dein Konto wurde erfolgreich aktiviert! Du kannst dich
						jetzt anmelden.
					</p>
					{% endif %}
					<form action="/api/v1/user/login" method="post">
						<input type="hidden" name="redirect" value="true" />
						<label for="username">Benutzername:</label>
						<input
							type="text"
							id="username"
							name="username"
							required />
						<label for="password">Passwort:</label>
						<input
							type="password"
							id="password"
							name="password"
							required />

						<input type="submit" value="Anmelden" class="wide" />
					</form>
				</div>

				<div id="poweredby">
					<img
						src="/resources/ownwiki-logo-mini.png"
						alt="OwnWiki Logo" />
					<p>Powered by<br />OwnWiki</p>
				</div>
			</div>
		</div>

		{% include '/include/js.html' with context %}
	</body>
</html>
